.div-bot{
    height: 285px;
    border-radius: 15px;
    background-color: #FF8C66;
    position: relative;
    margin: auto auto;
    padding: 0 5%;
    overflow: hidden
}

.div-bot img{
    display: inline-block;
    position: relative; 
    top: -3%;
    left: 72%;
}
.div-top{
    width: 100%;
    height: 231px;
    border: 0px solid black;
    border-radius: 15px;
    background-color: #1c1f4a;
    color: white;
    margin: auto auto;
    position: absolute;
    top: 19%;
    left: 0;
    padding: 7%
}

.div-top:hover{
    background-color: hsl(235, 45%, 61%)
}

.row1{
    display: flex;
    justify-content: space-between
}

.row1 .col-8 span{
    display: inline-block;
    font-size: 18px;
}

.row1 .col-2 img{
    display: inline-block;
    margin: 10px 0;
    right: 5%

}

.row2 h2{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 60px
}

.row3 p{
    overflow:visible
}

